body {
    background-color: #FFFFFF;
    position: relative;
    width: 1600px;
    height: 1200px;
    background: #FFFFFF;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;
    gap: 0px;
    position: absolute;
    width: 681px;
    height: 128px;
    left: 887px;
    top: 32px;
    background: linear-gradient(100.12deg, #F7F9FE 0%, #FBFCFF 100%);
    border-radius: 9999px;
}

.foto-logo {
    width: 40px;
    height: 60.47px;
    display: flex;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;
    align-items: center;
    margin-left: 55px;
}


.text-logo {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    width: 481px;
    height: 64px;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: 0.02em;
    color: #23155B;
    flex: none;
    order: 1;
    flex-grow: 0;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-left: 15px;
}

.mainpart {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 1920px;
    height: 830px;
    left: 0px;
    top: 185px;
    background-image: url(img/defipielogobg.svg);
    background-repeat: no-repeat;
}



.fotocod {
    position: absolute;
    width: 590px;
    height: 830px;
    left: 0px;
    top: 0px;
    background: url(image.png);
    mix-blend-mode: normal;
    gap: 0px;
    border-radius: 0px 200px 200px 0px;
    opacity: 0px;
}

.container {
    width: Fill (1, 920px)px;
    height: Hug (830px)px;
    gap: 0px;
    opacity: 0px;
}


.textbody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
    padding: 0px 0px 0px 260px;
    gap: 52px;
    width: 840px;
    height: 575px;
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

.framebo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 0px 260px;
    gap: 52px;
    width: 840px;
    height: 575px;
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

.group {
    width: 103.19px;
    height: 118.48px;
    top: 0px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    margin-left: 325px;
}

.brought {
    list-style: Titles/H2;
    font-size: 52px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(128, 83, 255, 1);
    margin-left: 200px;
}

.brought1 {
    list-style: Titles/H2;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(128, 83, 255, 1);
    margin-left: 120px;
}

.brought2 {
    list-style: Titles/H2;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(35, 21, 91, 1);
    margin-left: 120px;
}

.texta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 0px 260px;
    gap: 52px;
    margin-left: 60px;
    width: 840px;
    height: 575px;
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    color: rgba(35, 21, 91, 1);
}